@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Breeze";
  src: url("../assets/fonts/breeze/MorningBreeze.otf") format("truetype");
}
