@import "roboto.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #010101;
  font-family: "Roboto", sans-serif;
  line-height: 1.55;
}

header {
  background-color: rgba(33, 33, 33, 1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  .menu__nav {
    width: 100%;
    ul {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        a {
          position: relative;
          color: #fff;
          background: rgba(255, 255, 255, 0.05);
          font-size: 1em;
          text-decoration: none;
          display: inline-block;
          padding: 10px 45px;
          font-weight: 300;
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          z-index: 1000;
          overflow: hidden;
          backdrop-filter: blur(15px);
        }
        a:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: rgba(255, 255, 255, 0.1);
        }
      }
      li:first-child {
        a {
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
        }
      }
      li:nth-last-child(2) {
        a {
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
      li:nth-child(2):hover ~ #marker::before {
        background: #ff0;
        box-shadow: 0 0 15px #ff0, 0 0 30px #ff0, 0 0 45px #ff0, 0 0 60px #ff0;
      }
      li:nth-child(3):hover ~ #marker::before {
        background: #0f0;
        box-shadow: 0 0 15px #0f0, 0 0 30px #0f0, 0 0 45px #0f0, 0 0 60px #0f0;
      }
      li:nth-child(4):hover ~ #marker::before {
        background: #ff308f;
        box-shadow: 0 0 15px #ff308f, 0 0 30px #ff308f, 0 0 45px #ff308f,
          0 0 60px #ff308f;
      }
      li:nth-child(5):hover ~ #marker::before {
        background: #df2fff;
        box-shadow: 0 0 15px #df2fff, 0 0 30px #df2fff, 0 0 45px #df2fff,
          0 0 60px #df2fff;
      }
      #marker {
        position: absolute;
        top: 0;
        width: 52px;
        height: 41px;
        z-index: 1;
        transition: 0.5s;
      }
      #marker::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: 0.5s;
        background: #5da6ff;
        box-shadow: 0 0 15px #5da6ff, 0 0 30px #5da6ff, 0 0 45px #5da6ff,
          0 0 60px #5da6ff;
      }
    }
  }
}

a {
  color: rgb(161, 161, 161);
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;

    display: inline-block;
    vertical-align: middle;
  }
}

.sub-head {
  position: relative;
}
.layers {
  height: 442px;
  // height: 100vh;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
  }
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1), 0);
}
.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  z-index: 1;
}
.layers__front-top {
  transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
  z-index: 2;
}
.layers__front-bottom {
  transform: translate3d(0, calc(var(--scrollTop) / 12), 0);
  z-index: 4;
}
.layer__text {
  z-index: 3;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  h1 {
    font-size: 56px;
    padding-top: 40px;
    p {
      font-size: 24px;
      font-style: bold;
    }
  }
}

article {
  min-height: 100vh;
}
