@import "roboto.css";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}
header {
  background-color: rgba(33, 33, 33, 1);
}
.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  display: flex;
}

a {
  color: rgb(161, 161, 161);
}

a > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;

  display: inline-block;
  vertical-align: middle;
}

nav > ul > li {
  display: inline-block;
  vertical-align: middle;
}
